<li class="d-flex justify-content-between w-50">
    <div class="form-check d-flex">
            <input class="checkbox" type="checkbox" [checked]="task.isComplete" (click)="toggleCompleted()">
            <div (click)="editTask()" *ngIf="!editToggle">
                <span class="ml-2" >{{task.text}}</span>
            </div>
            <div *ngIf="editToggle">
                <input type="text" name="edit-text" [value]="task.text">
                <button type="button" (click)="editTask()">Save</button>
            </div>

    </div>
    <div>
        <button type="button" class="btn-close" (click)="removeTask()">x</button>
    </div>

</li>


<!-- want to conditionally render span text vs input -->

